@font-face {
	font-family: 'Seiden Sans';
	src: url('./SeidenSans-Bold.eot');
	src: url('./SeidenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('./SeidenSans-Bold.woff2') format('woff2'),
		url('./SeidenSans-Bold.woff') format('woff'),
		url('./SeidenSans-Bold.ttf') format('ttf'),
		url('./SeidenSans-Bold.svg#SeidenSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
